.page-footer {
  background-color: #a05f43;
  color: #fff;
}
.logo {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoImg {
  height: auto;
  width: 20%;
}
.quote {
  width: 50%;
  text-align: center;
  margin-top: 20px;
}
